<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>首頁</title>
  </head>
  <body>
    <h1>歡迎來到 Express 首頁</h1>

    <ul>
      <li><a href="/users">使用者列表</a></li>
      <li><a href="/api/products">商品列表 (JSON API)</a></li>
    </ul>
  </body>
</html>
